.leaflet-container{
    width: 96vw;
    height: 89vh;
    z-index: 0;
}

@media screen and (min-width: 1024px) {
    .leaflet-container {
        width: 78vw;
    }
}

@media screen and (min-width: 768px) {
    .leaflet-container {
        width: 80vw;
    }
}